/* GENERICS */

[class*="container"] {
  border: 1px dashed green;
}

[class*="col"] {
  border: 1px dashed red;
}

[class*="row"] {
  border: 1px dashed blue;
}

/* / GENERICS */

.debug-img {
  border: 1px solid blue;
}
