/* GENERICS */
/* bootstrap */
[class*="container"] {
  border: 1px dashed black;
}

[class*="col"] {
  border: 1px dashed red;
}

[class*="row"] {
  border: 1px dashed pink;
}
/* / bootstrap */
/* / GENERICS */

.debug-img {
  border: 1px solid blue;
}
