/* GENERICS */

[class*="container"] {
  border: 1px dashed #0dcaf0;
}

[class*="col"] {
  border: 1px dashed red;
}

[class*="row"] {
  border: 1px dashed pink;
}

/* / GENERICS */

.debug-img {
  border: 1px solid blue;
}
