/* Generics */
/* / Generics */

/* Utilities */

/* lenghts */

.gfg-w-10 {
  width: 15px;
}

.gfg-w-25 {
  width: 25px;
}

.gfg-w-35 {
  width: 60px;
}

.gfg-w-130 {
  width: 130px;
}

.gfg-rad-20 {
  border-radius: 20px;
}
/* / lenghts */

/* / Utilities */

/* Content */

/* MAIN */

/* jumbo-tron */
#jumbo-tron {
  background-image: url("../img/jumbo-bg.png");
  background-position: center top;
  background-repeat: no-repeat;
}

#jumbo-tron div.row {
  min-height: 600px;
}

#choises img {
  border-radius: 20px;
}
/* / jumbo-tron */

/* takes two */
#takestwo {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* / takes two */

#incrediblegame img {
  border-radius: 20px;
}
/* / MAIN */

/* / Content */
