$bg-black: #000;
$bg-white: #fff;
$border-hover: #0072ce;
$remove: none;
$button-font-color: #fff;
$bg-button-primary: #363636;
$white: #fff;
$span-primary: #767676;
$span-secondary: #0072ce;
$h2-font-size: 2rem;
$h3-font-size: 1.8rem;
$span-font-size: 1.5rem;